@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-blue-200 font-mono text-sm;
}

input {
  @apply bg-transparent outline-none text-green-300;
}


::selection {
  background-color: #00ff99be;
  color: black;
}

input::placeholder {
  color: #00ff99;
  opacity: 0.3;
}

input:focus {
  outline: none;
}
